/* Poppins font */
@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Regular.ttf')  format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Light.ttf')  format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Medium.ttf')  format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Bold.ttf')  format('truetype');
    font-weight: 700;
}

/* Roboto font */
@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-Medium.ttf')  format('truetype');
    font-weight: 500;
}

html, body, #__nuxt {
    height: 100%;
}

body {
    max-height: 100%;
    margin: 0;
    font-family: Poppins;
    font-weight: 300;
    /*background: linear-gradient(195deg, rgba(25,25,25,1) 0%, rgba(33,33,33,1) 41%, rgba(65,70,70,1) 74%, rgba(107,118,120,1) 100%) no-repeat center top fixed;*/
    background-image: url("../images/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: white;
}
