/* Poppins font */
@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Regular.ttf')  format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Light.ttf')  format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Medium.ttf')  format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Bold.ttf')  format('truetype');
    font-weight: 700;
}

/* Roboto font */
@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-Medium.ttf')  format('truetype');
    font-weight: 500;
}

html, body, #__nuxt {
    height: 100%;
}

body {
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    font-family: Poppins;
    font-weight: 300;
    background: linear-gradient(195deg, rgba(25,25,25,1) 0%, rgba(33,33,33,1) 51%, rgba(65,70,70,1) 84%, rgba(107,118,120,1) 100%) no-repeat center top fixed;
    /*background-image: url("../images/background.png") !important;*/
    /*background: rgb(50,50,50);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: white;
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: url("../images/background.png") !important;
    }
}


/* Simulates a mobile experience for users on desktop */
@media only screen and (min-width: 1100px) {
    body {
        max-width: 380px;
        margin: auto;
        border: 1px solid white;
        border-radius: 25px;
    }

    html {
        padding: 30px 0px;
    }
}
