html, body, #__nuxt {
    height: 100%;
}

body {
    margin: 0;
    font-family: Poppins;
    font-weight: 300;
    background: linear-gradient(225deg, hsla(0, 0%, 0%, 1) 20%, hsla(180, 17%, 53%, 1) 100%) no-repeat center top fixed;
    color: white;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
    font-size: 16px;
}